<?xml version="1.0"?>
<launch>

  <env name="ROSCONSOLE_FORMAT" value="[${severity}] [${time}] [${node}] [${function}] [${line}]: ${message}"/>

  <arg name="camera" default="D435_camera" /> 
  <arg name='depth' default='true' />
  <arg name="serial_no" default=""/>  

  <arg name="color" default="color" /> 
  <arg name="image" default="image_raw"/>
  <arg name="transport" value="compressed" />
  <arg name="fiducial_len" default="0.065"/> <!-- marker lenght-->
  <arg name="dictionary" value="0" /><!-- marker dictionary-->

  <!--  Default stuff kept as it is  -->
  <arg name="do_pose_estimation" default="true"/>
  <arg name="ignore_fiducials" default="" />
  <arg name="fiducial_len_override" default="" />
  
  <!-- ***************************** REALSENSE D435   ********************************************************************************************** -->

  <include file="$(find realsense_gazebo_description)/launch/load_d435i_standalone.launch">
    <arg name="name" default="$(arg camera)" />
    <arg name="parent" default="$(arg camera)_mount" />
    <arg name="pose_x" value="0" />
    <arg name="pose_y" value="0" />
    <arg name="pose_z" value="0" />
    <arg name="pose_roll" value="0" />
    <arg name="pose_pitch" value="0" />
    <arg name="pose_yaw" value="0" />
    <arg name="enable_pointcloud" value="false" />
    <arg name="pub_world_tf" value="false" />
    <arg name="pub_tf" value="true" />
    <arg name="spawn_gazebo" value="false" />
  </include>

  <include file="$(find gpd_ros_wrapper)/launch/d435.launch"></include>

    
  <!-- ***************************** TABLE   ********************************************************************************* -->

  <arg name="t_pose_x" value="0" />
  <arg name="t_pose_y" value="0" />
  <arg name="t_pose_z" value="0" />
  <arg name="surface_high" value="0.722" />
  <arg name="t_size_x" value="0.80" />
  <arg name="t_size_y" value="1.6" />
  <arg name="t_size_z" value="0.022" />

  <include file="$(find iit_gazebo_worlds_pkg)/table/launch/load_table.launch">
    <arg name="table_name" value="table"/>
    <arg name="table_urdf_name" value="table_inverted"/>
    <arg name="pub_tf" value="true"/>
    <arg name="pub_world_pose" value="false"/>
    <arg name="t_pose_x" value="$(arg t_pose_x)" />
    <arg name="t_pose_y" value="$(arg t_pose_y)" />
    <arg name="t_pose_z" value="$(arg t_pose_z)" />
    <arg name="surface_size_x" value="$(arg t_size_x)"/>
    <arg name="surface_size_y" value="$(arg t_size_y)"/>
    <arg name="surface_size_z" value="$(arg t_size_z)"/>
    <arg name="surface_high" value="$(eval surface_high - t_size_z/2)"/>
    <arg name="surface_gazebo_color" value="Gazebo/Gold"/>
    <arg name="spawn_gazebo" value="false" />
    <arg name="markers" value="true"/>
    <arg name="marker_size" value="0.065"/>
    <arg name="marker_id" value="4"/>
    <arg name="marker_pos" value="2"/>
    <arg name="marker_thickness" value="0.003"/>
  </include>

  <!-- ***************************** ARUCO DETECTION   ********************************************************************************* -->

  <node pkg="aruco_detect" name="aruco_detect"
    type="aruco_detect" output="screen" respawn="false">
    <param name="image_transport" value="$(arg transport)"/>
    <param name="publish_images" value="true" />
    <param name="fiducial_len" value="$(arg fiducial_len)"/>
    <param name="dictionary" value="$(arg dictionary)"/>
    <param name="do_pose_estimation" value="$(arg do_pose_estimation)"/>
    <param name="ignore_fiducials" value="$(arg ignore_fiducials)"/>
    <param name="fiducial_len_override" value="$(arg fiducial_len_override)"/>
    <param name="publish_fiducial_tf" value="true"/>
    <remap from="/camera/compressed" to="$(arg camera)/$(arg color)/$(arg image)/$(arg transport)"/>
    <remap from="/camera_info" to="$(arg camera)/$(arg color)/camera_info"/>
  </node>
  

  <include file="$(find gpd_ros_wrapper)/launch/mount_robot.launch"></include>

  <node pkg="rviz" type="rviz" name="rviz" output="screen" args="-d $(find gpd_ros_wrapper)/config/table_cam_calib.rviz">
  </node> 
    

</launch>
